<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="bank">
            <img id="img01" class="maximg" src="pg.png" alt="Payment Gateway Icon png">
        </div>
        <div class="header">
            <h1><strong>COSMOS REDSHIFT FOUNDATION</strong></h1>
        </div>
    </div>
    <div class="mid"> -->
        <div class="direction">
            <img id="img02" class="clickimg" src="right.png" alt="Click Right Here png">
        </div>
        <div class="card">
            <button>PAY WITH CARD</button>
            

<script src="https://code.jquery.com/jquery-3.5.0.js"></script>



<form action="" method="POST">
<script
    src="https://checkout.razorpay.com/v1/checkout.js"
    data-key="rzp_test_PER9jA38xyBLSo" 
    data-amount="100" 
    data-currency="INR"
    data-id="<?php echo 'OID'.rand(10,100).'END';?>"
    data-buttontext="Pay with Razorpay"
    data-name="COSMOS REDSHIFT FOUNDATION"
    data-description="Charity and Donation"
    data-image="https://traidev.com/img/web-desgin-development.png"
    data-prefill.name=""
    data-prefill.email=""
    data-prefill.contact=""
    data-theme.color="#F37254"
></script>
<input type="hidden" custom="Hidden Element" name="hidden">
</form>


        </div>
    </div>
</body>
</html>